@import url('https://fonts.cdnfonts.com/css/star-wars?styles=139840');

body {
    background-image: url(https://preview.redd.it/dk17m1oe48941.jpg?width=960&crop=smart&auto=webp&v=enabled&s=034a4be4bf87f0259d2c6cda98bd2aa49333bf19);
    background-size: cover;
    overflow: hidden;
}

main {
    display: flex;

}

.death-star {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 42%;
    left: 42%;
    opacity: 0.6;
    animation: death-star 2.5s;
}

@keyframes death-star {

    0% {
        background-image: url(../pedro/death-star-crop.png);
    }

    100% {
        background-image: url(../pedro/death-star-crop.png);
    }
}

.explode {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 42%;
    left: 42%;
    animation: explode 3s 2s;
}

@keyframes explode {

    0% {
        background-image: url(../pedro/explode4.gif);
    }

    80% {
        opacity: 0.7;
    }

    100% {
        background-image: url(../pedro/explode4.gif);
        opacity: 0.1;
    }
}

.logo img {
    position: absolute;
    height: 200px;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    animation-name: logo;
    animation-duration: 10s;
}

@keyframes logo {
    0% {
        height: 0px;
    }

    20% {
        height: 0px;
        top: 60%;
    }

    70% {
        height: 400px;
        top: 40%
    }

    100% {
        height: 200px;
    }
}

.tie1 img {
    position: absolute;
    top: 300px;
    height: 00px;
    animation: tie1 10s 5s infinite;
}

@keyframes tie1 {
    0% {
        opacity: 0;
    }

    49% {
        display: inline-block;
        opacity: 0;
        left: 60%;
        height: 50px;
    }

    50% {
        opacity: 0.8;
    }

    55% {
        opacity: 1;
    }

    100% {
        display: inline-block;
        height: 200px;
        top: 250px;
        left: -2200px
    }
}

.tie2 img {
    position: absolute;
    top: 100px;
    height: 0px;
    animation: tie2 10s 5.5s infinite;
}

@keyframes tie2 {
    0% {
        opacity: 0;
    }

    49% {
        display: inline-block;
        opacity: 0;
        left: 70%;
        height: 50px;
    }

    50% {
        opacity: 0.8;
    }

    65% {
        opacity: 1;
    }

    100% {
        display: inline-block;
        height: 200px;
        left: -2000px
    }
}

.tie3 img {
    position: absolute;
    top: 450px;
    height: 0px;
    animation: tie3 10s 5.2s infinite;
}

@keyframes tie3 {
    0% {
        opacity: 0;
    }

    49% {
        display: inline-block;
        opacity: 0;
        left: 65%;
        height: 40px;
    }

    51% {
        opacity: 0.8;
    }

    60% {
        opacity: 1;
    }

    100% {
        display: inline-block;
        height: 180px;
        left: -2500px
    }
}

.falcon img {
    position: absolute;
    top: 0px;
    left: 30%;
    height: 0px;
    animation: falcon 10s 3s infinite;
}

@keyframes falcon {
    0% {
        opacity: 0;
    }

    49% {
        display: inline-block;
        opacity: 0;
        height: 40px;
        left: 30%;
        top: 0px;
    }

    51% {
        opacity: 0.8;
    }

    60% {
        opacity: 1;
    }

    100% {
        display: inline-block;
        height: 150px;
        left: 2800px;
        top: 1600px;
    }
}

.x-wing1 img {
    position: absolute;
    top: 0px;
    left: 80%;
    height: 0px;
    animation: x-wing1 10s 9.5s infinite;
}

@keyframes x-wing1 {
    0% {
        opacity: 0;
    }

    30% {
        display: inline-block;
        opacity: 0;
        height: 40px;
        left: 80%;
        top: 0px;
    }

    51% {
        opacity: 0.8;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        display: inline-block;
        height: 150px;
        left: -2200px;
        top: 80%;
        opacity: 0.8;
    }
}

.x-wing2 img {
    position: absolute;
    top: 50px;
    left: 80%;
    height: 0px;
    animation: x-wing2 10s 9s infinite;
}

@keyframes x-wing2 {
    0% {
        opacity: 0;
    }

    49% {
        display: inline-block;
        opacity: 0;
        height: 40px;
        left: 80%;
        top: 50px;
    }

    51% {
        opacity: 0.8;
    }

    60% {
        opacity: 1;
    }

    100% {
        display: inline-block;
        height: 150px;
        left: -2200px;
        top: 85%;
        opacity: 0.8;
    }
}

.texto {
    visibility: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 5px solid #FFE81F;
    padding: 10px;
    border-radius: 50px;
    animation-name: texto;
    animation-duration: 2s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

.texto2 {
    visibility: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 5px solid #FFE81F;
    padding: 10px;
    border-radius: 50px;
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes texto {

    0%,
    100% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* .texto:hover {
    background-color: #FFE81F;
    border: none;
    transition-duration: 0.5s;
    animation-play-state: paused;
    opacity: 1;
} */

.texto h1,
.texto2 h1 {
    font-size: 1.5em;
    color: #FFE81F;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-family: 'Star Wars', sans-serif;
}

/* .texto:hover h1 {
    color: black;
} */

.botao {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 10px;
    background-color: #FFE81F;
    border: none;
    border-radius: 50px;
}

.botao h1 {
    color: black;
    font-size: 1.5em;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-family: 'Star Wars', sans-serif;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    top: 55%;
    left: 50%;
    animation: data;
    animation-duration: 12s;
}

.data p {
    margin: auto;
    color: #FFE81F;
    font-family: monospace;
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bold;
}

.data h2 {
    margin: auto;
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 100;
}

@keyframes data {
    /* 0% {
        top: 400%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(3);
    }

    30% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }

    60% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    } */


    from {
        top: 400%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(3);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}